@import "tailwindcss";

@font-face {
  font-family: "Benzin";
  src:
    url("/supremat_-_benzin_bold-webfont.woff2") format("woff2"),
    url("/supremat_-_benzin_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Awesome Serif";
  src:
    url("/hinted-AwesomeSerif-Regular.woff2") format("woff2"),
    url("/hinted-AwesomeSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Awesome Serif";
  src:
    url("/hinted-AwesomeSerifItalic-Regular.woff2") format("woff2"),
    url("/hinted-AwesomeSerifItalic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-serif:
    "Awesome Serif", Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans:
    "Benzin", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --color-bg: #e6e7ff;
  --color-indigo-500: #6357ff;
}

html,
body {
  @apply bg-[#f2f2fb] font-serif;
  text-rendering: geometricPrecision;
  font-variant-ligatures: common-ligatures;
}
